<div class="main-footer-container">
  <div class="row-1">
    <div class="col-1">
      <h1>Sie können mich jederzeit kontaktieren!</h1>
    
    </div>
    <!-- <form [formGroup]="emailToAds" class="col-2">
      <input
        placeholder="Deine Email-Adresse eintragen*"
        type="text"
        formControlName="email"
      />
      <button [disabled]="!emailToAds.valid" (click)="sendEmailToAds()">
        JETZT ANMELDEN
      </button>
      <p *ngIf="confirmationEmail" class="conf-msg">
        *Wir haben Ihre E-Mail erhalten, vielen Dank für Ihr Vertrauen
      </p>
    </form> -->
  </div>
  <div class="row-2">
    <div class="col-1">
      <p>KONTAKT</p>
      <p>davidcast@gmx.de</p>
      <p>Mo. - Fr. 8:00 - 17:00 Uhr</p>
      <p>Tel: +49(0)157-52832965</p>
    </div>
    <div class="col-2">
      <p>Mit <img src="../../assets/icons/heart-red.png" /> David Castillo {{getDate}}</p>
      <p>Made by David Castillo</p>
    </div>
    <div class="col-3">
      <!-- <a href="#">
        <img src="../../assets/phi-logo-c.png" alt="PhiCommerce"
      /></a> -->
    </div>
  </div>
</div>
