/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "vision";
    src: url("assets/Fonts/OTFVision/Vision.otf");
  }
html body {
    font-family:"vision", "Helvetica",Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FCFD;
}

 