
h2{
  padding: 0.5rem 1rem 0.5rem 3rem;
  margin-top: 2rem;
  border: 1px solid #ddd;
}
.certificate-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 1.5em;
  align-items: start;
}

.certificate {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.certificate img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 0.8em;
}

@media only screen and (max-width: 1500px) {
  .certificate-grid {
    grid-template-columns: repeat(2, 1fr)
  }
}
@media only screen and (max-width: 1000px) {
  .certificate-grid {
    grid-template-columns: repeat(1, 1fr)
  }
}
// .all-articles-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   padding: 3rem 3.9rem 0rem 3.9rem;
//   gap: 8px;
// }
// @media only screen and (max-width: 418px) {
//   .all-articles-container {
//     padding: 1rem 0.5rem 1rem 0.5rem;
//   }
// }
// .card-container {
//   max-width: 16rem;
//   min-height: 27rem;
//   border: 1px solid #c7d4e7;
//   box-sizing: border-box;
//   padding: 9px;
//   border-radius: 9px;
//   .article-photo {
//     width: 14.7rem;
//     height: 15rem;
//   }
//   p {
//     overflow: hidden;
//     margin: 1px;
//     text-align: left;
//     color: #b7855c;
//     font-weight: 300;
//   }
//   .product-name {
//     height: 2rem;
//     text-align: left ;
//     color: #690606;
//     overflow: hidden;
//     font-weight: 400;
//   }
//   .product-description{
//     height: 5.3rem;
//     text-align: left ;
//     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     margin-bottom: 10px;
//     color: #373737;
//   }
//   .price{
//     display: flex;
//     height: 2rem;
//     align-items: center;
//     color: #373737;
//     justify-content: space-around;
//   }
//   .reduced-price{
//     text-decoration: line-through;
//     color: gray;
//   }
//   .amount-selector-container {
//     display: flex;
//     height: 2rem;
//     width: 100%;
//     padding: 0 5px;
//     box-sizing: border-box;
//     select {
//       border-radius: 15px 0 0 15px;
//       padding-left: 6px;
//       border-right: none;
//       outline: none;
//     }
//     .right-part {
//       width: 100%;
//       display: flex;
//       align-items: center;
//       cursor: pointer;
//       padding: 3px;
//       justify-content: space-around;
//       border-radius: 0 15px 15px 0;
//       background-color: #d55858;
//       color: white;
//       img{
//           width: 1.2rem;
//           cursor: pointer;
//       }
//     }
//       span {
//         text-align: center;
//         display: block;
//         width: 100%;
//         line-height: 91%;
//         font-size: 12px;
//         padding-top: 3px;
//       }
//     }
//     .right-part:hover {
//       background-color: black;
//     }
//   }
// .card-container:hover {
//   box-shadow: 0px 1px 2px 1px rgb(47 56 61 / 15%),
//     0px 1px 2px rgb(47 56 61 / 20%);
//   cursor: pointer;
// }
// .snackbar {
//   z-index: 999;
//   color: white;
//   background: #524f4f;
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   text-align: center;
//   padding: 0.7rem;
// }
// @media only screen and (max-width: 665px) {
//   .all-articles-container {
//     padding: 1rem 1rem 0rem 1rem;
//   }
// }
