<section>
  <h2>Projekten</h2>
  <div class="certificate-grid">
    <div class="certificate">
      <img src="../assets/projekten/1.png">
      <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/2.png">
      <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/3.png">
      <!-- <p><strong>Node.js Kurs – Udemy</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/4.png">
      <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/5.png">
      <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/6.png">
      <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/7.png">
      <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/8.png">
      <!-- <p><strong>Node.js Kurs – Udemy</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/9.png">
      <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
    </div>
    <div class="certificate">
      <img src="../assets/projekten/10.png">
      <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
    </div>
  <div class="certificate">
    <img src="../assets/projekten/11.png">
    <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/12.png">
    <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/13.png">
    <!-- <p><strong>Node.js Kurs – Udemy</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/14.png">
    <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/15.png">
    <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/16.png">
    <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/17.png">
    <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/18.png">
    <!-- <p><strong>Node.js Kurs – Udemy</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/19.png">
    <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/20.png">
    <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/21.png">
    <!-- <p><strong>Webdesign – Wildner AG</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/22.png">
    <!-- <p><strong>Angular Fortbildung – Udemy</strong></p> -->
  </div>
  <div class="certificate">
    <img src="../assets/projekten/23.png">
    <!-- <p><strong>Node.js Kurs – Udemy</strong></p> -->
  </div>
</div>
</section>

<app-footer></app-footer>


<!-- // Este codigo es de prueba, aqui analizo si cargando todo en el componente all-articles el render de los articulos es
// es mas eficiente  -->
<!-- <div class="all-articles-container">
  <div *ngFor="let item of articles" class="card-container">
    <img class="article-photo"
      (click)="navigateToDetails(item.Id_Article, item.Name)"
      [src]="item.Pic_1"
         />
    <p
      class="product-name"
      (click)="navigateToDetails(item.Id_Article, item.Name)"
    >
      {{ item.Name }}
    </p>
    <p class="product-description" (click)="navigateToDetails(item.Id_Article, item.Name)">
      {{ item.Short_Description }}
    </p>
    <div (click)="navigateToDetails(item.Id_Article, item.Name)" *ngIf="item.Placeholder_1 !== null" class="price">
      <p class="price reduced-price">€ {{ item.Sale_Price }}</p>
      <p class="price ">€ {{ item.Placeholder_1 }}</p>
    </div>  
    <div (click)="navigateToDetails(item.Id_Article, item.Name)" *ngIf="item.Placeholder_1 == null" class="price">
      <p class="price">€ {{ item.Sale_Price }}</p>
    </div>  
    <div class="amount-selector-container">
      <select #amount name="amount" (change)="onSelectedAmount(amount.value)">
        <option *ngFor="let Nr of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          {{ Nr }}
        </option>
      </select>
      <div (click)="sendArticleToCart(item)" class="right-part">
        <img class="shop-bag-white-photo" src="../../assets/icons/shopping-bag-white.png" />
        <span>WARENKORB</span>
      </div>
    </div>
  </div>
  <div *ngIf="snackbar" class="snackbar">
    Es wurde im Waremkorb gespeichert!
  </div>
</div>
<app-last-seen-corousel *ngIf="isVisible" ></app-last-seen-corousel> -->




